<!doctype html> <meta charset="utf-8"> <title> Historic UK audio-player example </title>

<link rel="stylesheet" href="css/style.css" />


<h1> Historic UK audio-player example </h1>

<p>The example audio files are (mostly) OGG, so you'll <a href="http://caniuse.com/#feat=ogg-vorbis">need Firefox, Chrome or Opera</a>.</p>


<p id="mapid" class="map medium"></p>


<script type="text/html" id="popup-template">
  <div class="audio-popup">
    <h2><%= title %></h2>
    <span><%= description %></span> <a href="<%= credit_url %>">credit</a>
    <audio src="<%= audio_url %>" controls ></audio>
  </div>
</script>


<script>
MAP_CFG = {
  latLng: [ 51.863404, -0.7694265 ],
  zoom: 8,
  geoJson: '{cdn}/data/historic-geo.json',
  tileUrl: 'https://geo.nls.uk/maps/api/nls/{z}/{x}/{y}.jpg',
  attribution: 'Historical Maps Layer, 1919-1947 from the <a href="http://maps.nls.uk/projects/api/">NLS Maps API</a>',
  opacity: 0.85
}
</script>


<link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

<script src="../dist/geojson-popup.js"></script>


<pre>
&copy; 2016 Nick Freear | License: MIT.

* http://maps.nls.uk/projects/api/
</pre>
