<!doctype html> <meta charset="utf-8"> <title> Historic UK audio-player example </title>

<link rel="stylesheet" href="css/style.css" />


<h1> Historic UK audio-player example </h1>

<p>The example audio files are (mostly) OGG, so you'll <a href="http://caniuse.com/#feat=ogg-vorbis">need Firefox, Chrome or Opera</a>.</p>


<p id="mapid" class="map medium"></p>


<script type="text/html" id="popup-template">
<div class="audio-popup">
  <h2><%= title %></h2>
  <span><%= description %></span> <a href="<%= credit_url %>">credit</a>
  <audio src="<%= audio_url %>" controls ></audio>
</div>
</script>


<script data-not_needed_src="../.env.js"></script>
<script>
window.MAP_CONFIG = {
  latLng: [ 51.863404, -0.7694265 ],
  zoom: 8,
  popupTemplate: document.querySelector('#popup-template').innerText,
  checkProperty: 'audio_url',
  geoJsonUrl: '../data/historic-geo-data.json',
  tileUrl: 'http://nls-{s}.tileserver.com/nls/{z}/{x}/{y}.jpg',
  attribution: 'Historical Maps Layer, 1919-1947 from the <a href="http://maps.nls.uk/projects/api/">NLS Maps API</a>',
  opacity: 0.85,
  subdomains: '0123'
}
</script>


<link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/2.3.0/superagent.min.js"></script>

<script src="../src/popup-geojson-map.js"></script>


<pre>


&copy; 2016 Nick Freear | License: MIT.

* http://maps.nls.uk/projects/api/

</pre>
