<!doctype html> <meta charset="utf-8"> <title> World audio-player example </title>


<link rel="stylesheet" href="css/style.css" />


<h1> World audio-player example </h1>

<p>The example audio files are (mostly) OGG, so you'll <a href="http://caniuse.com/#feat=ogg-vorbis">need Firefox, Chrome or Opera</a>.</p>


<p id="mapid" class="map wide"></p>


<script type="text/html" id="popup-template">
<div class="audio-popup">
  <h2><%= title %></h2>
  <span><%= description %></span> <a href="<%= credit_url %>">credit</a>
  <audio src="<%= audio_url %>" controls ></audio>
</div>
</script>


<script src="../.env.js"></script>
<script>
// Mostly use defaults!
window.MAP_CONFIG = {
  popupTemplate: document.querySelector('#popup-template').innerText
}
</script>


<link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/2.3.0/superagent.min.js"></script>

<script src="../src/popup-geojson-map.js"></script>


<pre></pre>
