<!doctype html> <meta charset="utf-8"> <title> *Leaflet.JS audio-player example </title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<link rel="stylesheet" href="css/style.css" />


<h1> Leaflet.JS audio-player map example </h1>

<p>The example audio files are (mostly) OGG, so you'll <a href="http://caniuse.com/#feat=ogg-vorbis">need Firefox, Chrome or Opera</a>.</p>


<p id="mapid"></p>


<script type="text/html" id="popup-template">
<div class="audio-popup">
  <h2><%= title %></h2>
  <span><%= description %></span> <a href="<%= credit_url %>">credit</a>
  <audio src="<%= audio_url %>" controls ></audio>
</div>
</script>


<script src="../.env.js"></script>
<script>
// Mostly use defaults!
window.MAP_CONFIG = {
  popupTemplate: document.querySelector('#popup-template').innerText
}
</script>


<script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/2.3.0/superagent.min.js" data-src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script src="../src/popup-geojson-map.js"></script>


<pre>


&copy; Nick Freear, 2016-09-26 | License: MIT.

</pre>
