#

.env
.env.js
node_modules/
npm-debug.log
# package-lock.json

*.html
!example/historic.html
!example/resume.html
!example/world.html

dist/*
!dist/geojson-popup.js

*.png

bin/_unc.js
npm-deprecate*
uncomment-*

*BAK*

# End.
