
body { font: .92em sans-serif; color: #333; background: #fefefe; max-width: 80em; margin: 0 auto; }
h1, h2 { font-weight: normal; margin: 0.6em 0; }
.leaflet-popup-content { margin: 9px; }
.leaflet-popup-content-wrapper { border-radius: 6px; }

.map { min-width: 300px; min-height: 200px; }
.map.medium { height: 550px; max-width: 900px; }
.map.wide   { height: 350px; width: 100%; }
